@use "sass:map";
@use "variables";
@use "variants";
@use "utilities";

@function generate-size($size) {
  @return (
    "height": var(--sizing-height-#{utilities.get-size($size, "height")}),
    "width": var(--sizing-width-#{utilities.get-size($size, "width")}),
    "radius": var(--component-avatar-radius-#{$size}),
    "icon-size": var(--sizing-icon-size-#{utilities.get-size($size, "icon-size")}),
    "font": var(--style-font-weight-medium) var(--style-text-#{utilities.get-size($size, "font")}-font-size) /
      var(--style-text-#{utilities.get-size($size, "font")}-line-height) var(--style-font-family-default)
  );
}
$sizes: ();
@each $size in variants.$avatar-sizes {
  $sizes: map.set($sizes, $size, generate-size($size));
}
@function generate-variant($variant) {
  @return (
    "background": var(--component-avatar-#{$variant}-background),
    "border": var(--component-avatar-#{$variant}-stroke),
    "border-color": var(--component-avatar-#{$variant}-border),
    "color": var(--component-avatar-#{$variant}-text),
    "icon": var(--component-avatar-#{$variant}-icon)
  );
}
$variants: ();
@each $variant in variants.$avatar-variants {
  $variants: map.set($variants, $variant, generate-variant($variant));
}

.moon-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: map.get($variants, "fill", "background");
  border-width: map.get($variants, "fill", "border");
  border-color: map.get($variants, "fill", "border-color");
  color: map.get($variants, "fill", "color");
  font: map.get($sizes, "md", "font");
  width: map.get($sizes, "md", "width");
  height: map.get($sizes, "md", "height");
  border-radius: map.get($sizes, "md", "radius");

  :where(p, span) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  :where(svg, .moon-icon) {
    color: map.get($variants, "fill", "icon");
    width: map.get($sizes, "md", "icon-size");
    height: map.get($sizes, "md", "icon-size");
  }

  &:not(:has(svg, img, .moon-icon)) {
    padding: map.get($sizes, "md", "padding");
  }

  @each $size, $prop in $sizes {
    @if $size != "md" {
      &.moon-avatar-#{$size} {
        font: map.get($prop, "font");
        width: map.get($prop, "width");
        height: map.get($prop, "height");
        border-radius: map.get($prop, "radius");

        :where(svg, .moon-icon) {
          width: map.get($prop, "icon-size");
          height: map.get($prop, "icon-size");
        }

        &:not(:has(svg, img, .moon-icon)) {
          padding: map.get($prop, "padding");
        }
      }
    }
  }

  @each $variant, $prop in $variants {
    @if $variant != "fill" {
      &.moon-avatar-#{$variant} {
        background-color: var(--component-avatar-#{$variant}-background);
        border-width: var(--component-avatar-#{$variant}-stroke);
        color: var(--component-avatar-#{$variant}-text);

        :where(svg, .moon-icon) {
          color: var(--component-avatar-#{$variant}-icon);
        }
      }
    }
  }
}
