@use "variables";
@use "button";

.moon-breadcrumb {
  display: flex;
  gap: var(--spacing-space-6);
}

.moon-breadcrumb-item {
  color: var(--color-text-secondary);
  font: var(--font-weight-medium) var(--style-text-md-font-size) / var(--style-text-md-line-height) var(--font-default);

  &:not(:first-child) {
    display: flex;
    align-items: center;
    gap: var(--spacing-space-6);

    &::before {
      content: "";
      display: block;
      width: var(--spacing-space-16);
      height: var(--spacing-space-16);
      mask-size: contain;
      mask-image: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="chevron-right"><path id="Icon" d="M6.50351 11.5974C6.61109 11.5162 6.93225 11.2736 7.11739 11.1291C7.4882 10.8397 7.98093 10.4443 8.47219 10.0178C8.96593 9.58907 9.44679 9.13873 9.80029 8.73865C9.97754 8.53804 10.1122 8.36182 10.1999 8.2164C10.2823 8.07963 10.2995 7.99884 10.2995 7.99884C10.2995 7.99884 10.2823 7.92043 10.1999 7.78366C10.1122 7.63825 9.97755 7.46202 9.80029 7.26141C9.4468 6.86134 8.96593 6.411 8.47218 5.9823C7.98091 5.55577 7.48818 5.16036 7.11737 4.87098C6.93223 4.72649 6.61152 4.48423 6.50393 4.40297C6.28159 4.23921 6.23363 3.92588 6.39738 3.70353C6.56114 3.48118 6.87414 3.43368 7.09649 3.59744L7.09818 3.59871C7.21102 3.68394 7.54369 3.93521 7.7326 4.08263C8.11178 4.37855 8.61905 4.7855 9.12779 5.2272C9.63404 5.66675 10.1532 6.15053 10.5497 6.59928C10.7474 6.82308 10.9252 7.04994 11.0563 7.26738C11.1791 7.4711 11.3 7.72903 11.3 8.00004C11.3 8.27104 11.1791 8.52897 11.0563 8.73269C10.9252 8.95013 10.7474 9.17699 10.5497 9.40079C10.1532 9.84953 9.63404 10.3333 9.1278 10.7729C8.61907 11.2146 8.11181 11.6215 7.73262 11.9174C7.54359 12.065 7.2109 12.3162 7.09829 12.4013L7.09684 12.4024C6.87449 12.5662 6.56117 12.5189 6.39742 12.2965C6.23367 12.0742 6.28118 11.7612 6.50351 11.5974Z" fill="currentColor"/></g></svg>');
      background-color: var(--color-icon-secondary);
    }
  }

  &.moon-breadcrumb-item-active {
    color: var(--color-text-primary);
  }
}
