@use "sass:map";
@use "variants";
@use "utilities";

$variants: ();
@each $variant in variants.$button-variants {
  $variants: map.set(
    $variants,
    $variant,
    (
      "color": var(--component-button-#{$variant}-text),
      "background": var(--component-button-#{$variant}-background),
      "icon": var(--component-button-#{$variant}-icon),
      "shadow": inset 0 0 0 var(--component-button-#{$variant}-stroke) var(--component-button-#{$variant}-border)
    )
  );
}

$sizes: ();
@each $size in variants.$button-sizes {
  $sizes: map.set(
    $sizes,
    $size,
    (
      "height": var(--spacing-space-#{utilities.get-size($size, "height")}),
      "padding": var(--spacing-space-#{utilities.get-size($size, "padding")}),
      "gap": var(--spacing-space-#{utilities.get-size($size, "gap")}),
      "radius": var(--component-button-radius-#{$size}),
      "font": var(--font-weight-medium)
        var(--style-text-#{utilities.get-size($size, "font")}-font-size) /
        var(--style-text-#{utilities.get-size($size, "font")}-line-height)
        var(--font-default),
      "icon-size": var(--spacing-space-#{utilities.get-size($size, "icon-size")})
    )
  );
}

.moon-button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  transition:
    opacity 150ms ease-in-out,
    transform 150ms ease-in-out;
  height: map.get($sizes, "md", "height");
  min-width: map.get($sizes, "md", "height");
  padding: 0 map.get($sizes, "md", "padding");
  gap: map.get($sizes, "md", "gap");
  background-color: map.get($variants, "fill", "background");
  border-radius: map.get($sizes, "md", "radius");
  color: map.get($variants, "fill", "color");
  font: map.get($sizes, "md", "font");

  :where(svg, .moon-icon) {
    color: map.get($variants, "fill", "icon");
    width: map.get($sizes, "md", "icon-size");
    height: map.get($sizes, "md", "icon-size");
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    inset: 0;
    transition: background-color 150ms ease-in-out;
    pointer-events: none;
    background-color: var(--color-background-transparent);
  }

  &:disabled,
  &[aria-disabled="true"] {
    cursor: not-allowed;
    opacity: var(--style-opacity-disabled);
  }

  &:active {
    transform: scale(0.95);
  }

  &:not(:disabled):not([aria-disabled="true"]):hover::after {
    background-color: var(--color-background-hover);
  }

  @each $size, $prop in $sizes {
    @if $size != "md" {
      &.moon-button-#{$size} {
        height: map.get($prop, "height");
        min-width: map.get($prop, "width");
        padding: 0 map.get($prop, "padding");
        gap: map.get($prop, "gap");
        border-radius: map.get($prop, "radius");
        font: map.get($prop, "font");

        :where(svg, .moon-icon) {
          width: map.get($prop, "icon-size");
          height: map.get($prop, "icon-size");
        }
      }
    }
  }

  @each $variant, $prop in $variants {
    @if $variant != "fill" {
      &.moon-button-#{$variant} {
        color: map.get($prop, "color");
        background-color: map.get($prop, "background");
        box-shadow: map.get($prop, "shadow");

        :where(svg, .moon-icon) {
          color: map.get($prop, "icon");
        }
      }
    }
  }

  &-full-width {
    width: 100%;
  }
}

@each $context in variants.$contexts {
  .moon-button-#{$context} {
    @each $variant in variants.$button-variants {
      --component-button-#{$variant}-text: var(--context-#{$context}-#{$variant}-text);
      --component-button-#{$variant}-icon: var(--context-#{$context}-#{$variant}-icon);
      --component-button-#{$variant}-background: var(--context-#{$context}-#{$variant}-background);
      --component-button-#{$variant}-border: var(--context-#{$context}-#{$variant}-border);
    }
  }
}
