@use "variables";
@use "iconButton";

.moon-dialog {
  position: fixed;
  display: grid;
  align-items: center;
  justify-items: center;
  pointer-events: none;
  visibility: hidden;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  inset: 0;
  height: 100%;
  width: 100%;
  max-height: none;
  max-width: none;
  color: inherit;
  background-color: transparent;
  transition:
    translate 0.3s ease-out,
    visibility 0.3s allow-discrete,
    background-color 0.3s ease-out,
    opacity 0.1s ease-out;
  overflow-y: hidden;
  overscroll-behavior: contain;
  z-index: 999;
  &::backdrop {
    display: none;
  }

  &.moon-dialog-open,
  &[open],
  &:target {
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
    background-color: var(--color-background-backdrop);
    .moon-dialog-box {
      display: flex;
      translate: 0 0;
      scale: 1;
      opacity: 1;
    }
  }
  @starting-style {
    &.moon-dialog-open,
    &[open],
    &:target {
      visibility: hidden;
      opacity: 0;
    }
  }
}

.moon-dialog-box {
  grid-column-start: 1;
  grid-row-start: 1;
  display: none;
  flex-direction: column;
  max-height: 100vh;
  width: 100%;
  max-width: var(--component-dialog-max-width);
  border-radius: var(--component-dialog-radius);
  color: var(--color-text-primary);
  background-color: var(--component-dialog-background);
  box-shadow:
    inset 0 0 0 var(--component-dialog-stroke) var(--component-dialog-border),
    variables.$shadow-300;
  scale: 95%;
  opacity: 0;
  overflow: auto;
  overscroll-behavior: contain;

  :where(.moon-dialog-title) {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    padding: var(--sizing-padding-700) var(--sizing-padding-900);
    font: var(--font-weight-medium) var(--style-text-3xl-font-size) / var(--style-text-3xl-line-height)
      var(--font-default);
  }

  :where(.moon-dialog-close) {
    justify-self: end;

    @extend .moon-icon-button;
    @extend .moon-icon-button-sm;
    @extend .moon-icon-button-ghost;
  }
}
