@use "variables";

.moon-dropdown {
  position: relative;
  display: inline-block;
  position-area: var(--anchor-v, bottom) var(--anchor-h, span-right);

  & > *:not(summary):focus {
    outline: none;
  }
  .moon-dropdown-content {
    position: absolute;
    height: fit-content;
    max-height: var(--component-dropdown-max-height);
    width: var(--component-dropdown-max-width);
    border-radius: var(--component-dropdown-radius);
    color: var(--color-text-primary);
    background-color: var(--component-dropdown-background);
    box-shadow:
      inset 0 0 0 var(--component-dropdown-stroke) var(--component-dropdown-border),
      var(--style-shadow-300-layer-1-x) var(--style-shadow-300-layer-1-y) var(--style-shadow-300-layer-1-blur)
        var(--style-shadow-300-layer-1-spread) var(--style-shadow-300-layer-1-color),
      var(--style-shadow-300-layer-2-x) var(--style-shadow-300-layer-2-y) var(--style-shadow-300-layer-2-blur)
        var(--style-shadow-300-layer-2-spread) var(--style-shadow-300-layer-2-color);
    flex-direction: column;
    display: flex;
    overflow: auto;
    top: calc(100% + var(--spacing-space-8));
  }
  &:not(details, .moon-dropdown-open, .moon-dropdown-hover:hover, :focus-within) {
    .moon-dropdown-content {
      display: none;
      transform-origin: top;
      opacity: 0;
      scale: 95%;
    }
  }

  &[popover],
  .moon-dropdown-content {
    z-index: 100;
    @media (prefers-reduced-motion: no-preference) {
      transition-property: opacity, scale, display;
      transition-behavior: allow-discrete;
      transition-duration: 0.2s;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
  @starting-style {
    &[popover],
    .moon-dropdown-content {
      scale: 95%;
      opacity: 0;
    }
  }

  &.moon-dropdown-open,
  &:not(.moon-dropdown-hover):focus,
  &:focus-within {
    > [tabindex]:first-child {
      pointer-events: none;
    }
    .moon-dropdown-content {
      opacity: 1;
    }
  }

  &.moon-dropdown-hover:hover {
    .moon-dropdown-content {
      opacity: 1;
      scale: 100%;
    }
  }

  &:is(details) {
    summary {
      &::-webkit-details-marker {
        display: none;
      }
    }
  }

  &.moon-dropdown-open,
  &:focus,
  &:focus-within {
    .moon-dropdown-content {
      scale: 100%;
    }
  }

  &:where([popover]) {
    background: #0000;
  }
  &[popover] {
    position: fixed;
    color: inherit;

    @supports not (position-area: bottom) {
      margin: auto;

      &.moon-dropdown-open:not(:popover-open) {
        display: none;
        transform-origin: top;
        opacity: 0;
        scale: 95%;
      }

      &::backdrop {
        background-color: color-mix(in oklab, #000 30%, #0000);
      }
    }

    &:not(.moon-dropdown-open, :popover-open) {
      display: none;
      transform-origin: top;
      opacity: 0;
      scale: 95%;
    }
  }
}
