@use "sass:map";
@use "variants";
@use "utilities";

$sizes: ();
@each $size in variants.$loader-sizes {
  $sizes: map.set(
    $sizes,
    $size,
    (
      "height": var(--sizing-height-#{utilities.get-size($size, "height")}),
      "width": var(--sizing-width-#{utilities.get-size($size, "width")})
    )
  );
}

$border: var(--spacing-space-2);

.moon-loader {
  position: relative;
  width: map.get($sizes, "md", "width");
  height: map.get($sizes, "md", "height");
  border-radius: 50%;
  animation: rotate 1s linear infinite;
  box-shadow: inset 0 0 0 $border var(--component-loader-track);

  &::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0;
    border-radius: 50%;
    border: $border solid var(--component-loader-progress);
    animation: prix-clip-fix 2s ease-in-out infinite;
  }

  @each $size, $prop in $sizes {
    @if $size != "md" {
      &.moon-loader-#{$size} {
        width: map.get($prop, "width");
        height: map.get($prop, "height");
      }
    }
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prix-clip-fix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }

  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }

  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }

  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }

  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
