@use "sass:map";
@use "list";
@use "variants";
@use "utilities";

$sizes: ();
@each $size in variants.$menu-sizes {
  $sizes: map.set(
    $sizes,
    $size,
    (
      "padding": var(--sizing-padding-#{utilities.get-size($size, "padding")}),
      "radius": var(--component-menu-radius-#{$size})
    )
  );
}

.moon-menu {
  @extend .moon-list;

  & > * {
    padding: 0 map.get($sizes, "md", "padding");
    border-radius: map.get($sizes, "md", "radius");
    background-color: var(--color-background-transparent);
    cursor: pointer;
    transition: background-color 150ms ease-in-out;

    &:hover {
      background-color: var(--color-background-hover);
    }

    &:not(:last-child)::after {
      display: none;
    }
  }

  @each $size, $prop in list.$sizes {
    @if $size != "md" {
      &.moon-menu-#{$size} {
        @include list.list-sizes($size, $prop);
      }
    }
  }

  @each $size, $prop in $sizes {
    @if $size != "md" {
      &.moon-menu-#{$size} > * {
        padding: map.get($prop, "padding");
        border-radius: map.get($prop, "radius");
      }
    }
  }
}
