@use "iconButton";

.moon-pagination {
  display: flex;
  align-items: center;
  gap: var(--spacing-space-6);

  :where(.moon-pagination-item) {
    @extend .moon-icon-button;
    @extend .moon-icon-button-sm;

    font: var(--font-weight-medium) var(--style-text-sm-font-size) / var(--style-text-sm-line-height)
      var(--font-default);
    background-color: var(--component-pagination-background-default);
    color: var(--component-pagination-text-default);

    &.moon-pagination-item-active {
      background-color: var(--component-pagination-background-active);
      color: var(--component-pagination-text-active);
    }
  }

  :where(.moon-pagination-control) {
    @extend .moon-icon-button;
    @extend .moon-icon-button-sm;
    @extend .moon-icon-button-soft;
  }
}
