@use "iconButton";

.moon-pagination {
  display: flex;
  align-items: center;
  gap: var(--scale-sm-gap);

  :where(.moon-pagination-item) {
    @extend .moon-icon-button;
    @extend .moon-icon-button-sm;

    font: var(--font-weight-medium) var(--style-text-sm-font-size) / var(--style-text-sm-line-height)
      var(--font-default);
    background-color: var(--component-pagination-background-default);
    color: var(--component-pagination-text-default);
    box-shadow: inset 0 0 0 var(--component-pagination-stroke-default) var(--component-pagination-border-default);

    &.moon-pagination-item-active {
      background-color: var(--component-pagination-background-selected);
      color: var(--component-pagination-text-selected);
      box-shadow: inset 0 0 0 var(--component-pagination-stroke-selected) var(--component-pagination-border-selected);
    }
  }
}
