@use "variables";

.moon-radio {
  appearance: none;
  border-color: transparent;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--sizing-width-400);
  height: var(--sizing-height-400);
  box-shadow: inset 0 0 0 var(--component-radio-stroke-default) var(--component-radio-border-default);
  background-color: var(--component-radio-background-default);
  border-radius: var(--radius-9999);
  transition:
    opacity 150ms ease-in-out,
    background-color 150ms ease-in-out,
    box-shadow 150ms ease-in-out;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    display: block;
    inset: 0;
    transition: background-color 150ms ease-in-out;
    pointer-events: none;
    border-radius: var(--radius-9999);
    background-color: var(--color-background-transparent);
  }

  &::before {
    content: "";
    display: block;
    width: var(--spacing-space-0);
    height: var(--spacing-space-0);
    border-radius: var(--radius-9999);
    background-color: var(--component-radio-icon-selected);
    transition:
      width 150ms ease-in-out,
      height 150ms ease-in-out;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: var(--style-opacity-disabled);
  }

  &:checked {
    background-color: var(--component-radio-background-selected);
    box-shadow: none;
  }

  &:checked::before {
    width: var(--sizing-width-100);
    height: var(--sizing-width-100);
  }

  &:hover::after {
    background-color: var(--color-background-hover);
  }
}

.moon-radio-wrapper {
  display: flex;
  gap: var(--spacing-space-8);
  align-items: center;

  :where(label) {
    font: var(--style-font-weight-medium) var(--style-text-md-font-size) / var(--style-text-md-line-height)
      var(--style-font-family-default);
    color: var(--color-text-primary);
    cursor: pointer;
  }

  &:has(:disabled) :where(label) {
    cursor: not-allowed;
    opacity: var(--style-opacity-disabled);
  }
}
