@use "sass:map";
@use "variables";
@use "variants";
@use "utilities";

$sizes: ();
@each $size in variants.$select-sizes {
  $sizes: map.set(
    $sizes,
    $size,
    (
      "height": var(--sizing-height-#{utilities.get-size($size, "height")}),
      "padding": var(--sizing-padding-#{utilities.get-size($size, "padding")}),
      "gap": var(--sizing-gap-#{utilities.get-size($size, "gap")}),
      "radius": var(--component-forms-radius-#{$size}),
      "font": var(--font-weight-medium)
        var(--style-text-#{utilities.get-size($size, "font")}-font-size) /
        var(--style-text-#{utilities.get-size($size, "font")}-line-height)
        var(--font-default),
      "icon-size": var(--sizing-height-#{utilities.get-size($size, "icon-size")})
    )
  );
}

$variants: ();
@each $variant in variants.$select-variants {
  $variants: map.set(
    $variants,
    $variant,
    (
      "shadow": inset 0 0 0 var(--component-select-#{$variant}-stroke) var(--component-select-#{$variant}-border),
      "color": var(--component-select-#{$variant}-text-default),
      "background": var(--component-select-#{$variant}-background)
    )
  );
}

.moon-select {
  display: flex;
  width: 100%;
  appearance: none;
  outline: none;
  border-color: transparent;
  align-items: center;
  transition:
    box-shadow 150ms ease-in-out,
    opacity 150ms ease-in-out,
    background-color 150ms ease-in-out;
  min-height: map.get($sizes, "md", "height");
  padding: 0 map.get($sizes, "md", "padding");
  gap: map.get($sizes, "md", "gap");
  border-radius: map.get($sizes, "md", "radius");
  font: map.get($sizes, "md", "font");
  box-shadow: map.get($variants, "fill", "shadow");
  color: map.get($variants, "fill", "color");
  background-color: map.get($variants, "fill", "background");

  &:disabled {
    cursor: not-allowed;
    opacity: var(--style-opacity-disabled);
  }

  &:not(:disabled):hover {
    box-shadow: inset 0 0 0 var(--spacing-space-2) var(--color-border-primary);
    background-color: var(--color-background-hover);
  }

  &:not(:disabled):focus {
    box-shadow: inset 0 0 0 var(--spacing-space-2) var(--color-border-info);
  }

  @each $size, $prop in $sizes {
    @if $size != "md" {
      &.moon-select-#{$size} {
        min-height: map.get($prop, "height");
        padding: 0 map.get($prop, "padding");
        column-gap: map.get($prop, "gap");
        border-radius: map.get($prop, "radius");
        font: map.get($prop, "font");
      }
    }
  }

  @each $variant, $prop in $variants {
    @if $variant != "fill" {
      &.moon-select-#{$variant} {
        box-shadow: map.get($prop, "shadow");
        color: map.get($prop, "color");
        background-color: map.get($prop, "background");
      }
    }
  }

  &.moon-select-error {
    box-shadow: inset 0 0 0 var(--spacing-space-2) var(--color-border-negative);

    &:hover,
    &:focus {
      box-shadow: inset 0 0 0 var(--spacing-space-2) var(--color-border-negative);
    }
  }
}
