@use "sass:map";
@use "variables";
@use "variants";
@use "utilities";

$sizes: ();
@each $size in variants.$table-sizes {
  $sizes: map.set(
    $sizes,
    $size,
    (
      "padding": var(--sizing-padding-#{utilities.get-size($size, "padding")}),
      "radius": var(--component-forms-radius-#{$size}),
      "font": var(--style-font-weight-medium)
        var(--style-text-#{utilities.get-size($size, "font")}-font-size) /
        var(--style-text-#{utilities.get-size($size, "font")}-line-height)
        var(--style-font-family-default)
    )
  );
}

.moon-table {
  position: relative;
  overflow: hidden;
  display: table;
  width: 100%;
  border-radius: map.get($sizes, "md", "radius");
  color: var(--color-text-primary);
  background-color: var(--color-background-secondary);
  font: map.get($sizes, "md", "font");
  font-weight: var(--style-font-weight-regular);
  box-shadow: 0 0 0 var(--spacing-1) var(--color-border-secondary);

  :where(thead),
  &:not(:has(thead)) tr:first-child {
    white-space: nowrap;
    background-color: var(--color-background-tertiary);
  }

  :where(thead tr, tbody tr:not(:last-child), tbody tr:first-child:last-child) td,
  :where(thead tr, tbody tr:not(:last-child), tbody tr:first-child:last-child) th,
  &:not(:has(thead, tbody)) tr:not(:first-child, :last-child) td,
  &:not(:has(thead, tbody)) tr:not(:first-child, :last-child) th {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: var(--spacing-1);
      background-color: var(--color-border-secondary);
    }
  }

  :where(th) {
    font-weight: var(--style-font-weight-medium);
  }

  :where(th, td) {
    position: relative;
    text-align: start;
    vertical-align: middle;
    padding: map.get($sizes, "md", "padding");

    &:not(:last-child)::after {
      content: "";
      position: absolute;
      inset-inline-end: 0;
      inset-block: 0;
      width: var(--spacing-1);
      background-color: var(--color-border-secondary);
    }
  }

  @each $size, $prop in $sizes {
    @if $size != "md" {
      &.moon-table-#{$size} {
        border-radius: map.get($prop, "radius");
        font: map.get($prop, "font");

        :where(th, td) {
          padding: map.get($prop, "padding");
        }
      }
    }
  }
}
