@use "sass:map";
@use "variables";
@use "variants";
@use "utilities";

$sizes: ();
@each $size in variants.$textarea-sizes {
  $sizes: map.set(
    $sizes,
    $size,
    (
      "padding": var(--spacing-padding-#{utilities.get-size($size, "padding")}),
      "radius": var(--component-forms-radius-#{$size}),
      "font": var(--font-weight-medium)
        var(--style-text-#{utilities.get-size($size, "font")}-font-size) /
        var(--style-text-#{utilities.get-size($size, "font")}-line-height)
        var(--font-default)
    )
  );
}

$variants: ();
@each $variant in variants.$textarea-variants {
  $variants: map.set(
    $variants,
    $variant,
    (
      "shadow": inset 0 0 0 var(--component-textarea-#{$variant}-stroke) var(--component-textarea-#{$variant}-border),
      "color": var(--component-textarea-#{$variant}-text-default),
      "placeholder": var(--component-textarea-#{$variant}-text-placeholder),
      "background": var(--component-textarea-#{$variant}-background)
    )
  );
}

.moon-textarea {
  display: block;
  width: 100%;
  resize: none;
  outline: none;
  border-color: transparent;
  transition:
    box-shadow 150ms ease-in-out,
    opacity 150ms ease-in-out,
    background-color 150ms ease-in-out;
  padding: map.get($sizes, "md", "padding");
  border-radius: map.get($sizes, "md", "radius");
  font: map.get($sizes, "md", "font");
  box-shadow: map.get($variants, "fill", "shadow");
  color: map.get($variants, "fill", "color");
  background-color: map.get($variants, "fill", "background");

  &::placeholder {
    color: map.get($variants, "fill", "placeholder");
  }

  &:read-only,
  &:disabled {
    cursor: not-allowed;
  }

  &:disabled {
    opacity: var(--style-opacity-disabled);
  }

  &:not(:read-only, :disabled):hover {
    box-shadow: inset 0 0 0 var(--spacing-space-2) var(--color-border-primary);
    background-color: var(--color-background-hover);
  }

  &:not(:read-only, :disabled):focus {
    box-shadow: inset 0 0 0 var(--spacing-space-2) var(--color-border-info);
  }

  &.moon-textarea-error {
    box-shadow: inset 0 0 0 var(--spacing-space-2) var(--color-border-negative);

    &:hover,
    &:focus {
      box-shadow: inset 0 0 0 var(--spacing-space-2) var(--color-border-negative);
    }
  }

  @each $size, $prop in $sizes {
    @if $size != "md" {
      &.moon-textarea-#{$size} {
        padding: map.get($prop, "padding");
        border-radius: map.get($prop, "radius");
        font: map.get($prop, "font");
      }
    }
  }

  @each $variant, $prop in $variants {
    @if $variant != "fill" {
      &.moon-textarea-#{$variant} {
        box-shadow: map.get($prop, "shadow");
        color: map.get($prop, "color");
        background-color: map.get($prop, "background");

        &::placeholder {
          color: map.get($prop, "placeholder");
        }
      }
    }
  }
}
