.moon-tree-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--scale-md-gap);
  border-radius: var(--scale-sm-radius);
  font-size: var(--text-xs);
  transition: 0.4s ease;
  .moon-tree-item {
    position: relative;
    width: 100%;
    margin: auto;
    padding-left: 0;
    .moon-tree-children {
      > .moon-tree-list {
        .moon-tree-item {
          padding-left: var(--spacing-space-16);
        }
      }
      padding: 0 var(--spacing-space-8);
      overflow: hidden;
      opacity: 0;
      height: 0;
      min-height: 0;
      transition: height, min-height, opacity 0.4s ease;
      &:before {
        content: "";
        position: absolute;
        bottom: var(--spacing-space-6);
        left: var(--spacing-space-32);
        width: var(--dimension-border-1);
        height: calc(100% - var(--spacing-space-48));
        border-left: var(--dimension-border-1) solid
          var(--semantic-border-secondary);
      }
      .moon-tree-submenu-title {
        display: none;
      }
    }
    .moon-tree-link {
      color: var(--semantic-text-primary);
      width: 100%;
      display: flex;
      white-space: nowrap;
      gap: var(--scale-md-gap);
      padding: var(--scale-sm-padding);
      text-decoration: none;
      align-items: center;
      border-radius: var(--scale-sm-radius);
      transition: 0.4s ease;
      &:where(svg) {
        width: var(--scale-sm-icon-size);
        height: var(--scale-sm-icon-size);
      }
    }
    &:hover {
      > .moon-tree-link {
        background: var(--semantic-background-hover);
        color: var(--semantic-text-primary);
      }
    }
    .moon-tree-label {
      opacity: 1;
      pointer-events: all;
      display: block;
      transition: opacity, visibility 0.3s ease;
    }
    .moon-tree-end-icon {
      opacity: 1;
      pointer-events: all;
      display: block;
      transition: opacity, visibility 0.3s ease;
      transform: rotate(-90deg);
      transition: 0.4s ease;
    }
    .moon-tree-end-icon.moon-tree-end-icon-collapse {
      transform: rotate(0);
      transition: 0.4s ease;
    }
    .moon-tree-children.moon-tree-children-visible {
      > .moon-tree-list {
        padding: 0 0 var(--scale-md-padding);
      }
      height: 100%;
      min-height: fit-content;
      opacity: 1;
    }
    .moon-tree-children.moon-tree-children-root {
      &:before {
        content: "";
        position: absolute;
        bottom: 6px;
        left: var(--spacing-space-16);
        width: var(--dimension-border-1);
        height: calc(100% - var(--spacing-space-48));
        border-left: var(--dimension-border-1) solid
          var(--semantic-border-secondary);
      }
    }
  }
  .moon-tree-item.moon-tree-item-selected {
    > .moon-tree-link {
      background: var(--semantic-background-brand-subtle);
      color: var(--semantic-text-brand);
    }
  }
  .moon-tree-item.moon-tree-item-disabled {
    > .moon-tree-link {
      cursor: not-allowed;
      opacity: var(--effect-opacity-disabled);
    }
  }
}
.moon-tree-list.moon-tree-list-minified {
  gap: 0;
  .moon-tree-item {
    .moon-tree-children {
      > .moon-tree-list {
        .moon-tree-item {
          padding-left: 0;
        }
      }
      &:before {
        border-left: var(--semantic-border-transparent);
      }
      > .moon-tree-item {
        .moon-tree-link {
          padding: 0 var(--scale-xs-padding);
        }
      }
    }
    > .moon-tree-children.moon-tree-children-root {
      &:before {
        content: "";
        position: absolute;
        bottom: 6px;
        left: var(--spacing-space-16);
        width: var(--dimension-border-1);
        height: calc(100% - var(--spacing-space-48));
        border-left: var(--dimension-border-1) solid
          var(--semantic-border-secondary);
      }
    }
    &:hover {
      > .moon-tree-children {
        opacity: 1;
        pointer-events: all;
      }
      .moon-tree-children-root {
        > .moon-tree-submenu-title-wrapper {
          margin-left: -36px;
          opacity: 1;
          pointer-events: all;
          transition: 0.4s ease;
          display: block;
          .moon-tree-submenu-title {
            display: flex;
            margin-left: 8px;
            width: (100% + 8px);
            align-items: center;
            padding: var(--scale-xs-padding);
            color: var(--semantic-text-primary);
            border-radius: var(--scale-xs-radius);
            background-color: var(--semantic-background-hover);
          }
        }
      }
      .moon-tree-children {
        .moon-tree-submenu-title {
          svg {
            transform: rotate(-90deg);
          }
        }
        .moon-tree-item {
          .moon-tree-label {
            opacity: 1;
            pointer-events: all;
            display: block;
          }
          .moon-tree-end-icon {
            opacity: 1;
            pointer-events: all;
            display: block;
          }
        }
      }
    }
    .moon-tree-children-root {
      > .moon-tree-submenu-title-wrapper {
        opacity: 0;
        pointer-events: none;
        display: none;
      }
    }
  }
  .moon-tree-children.moon-tree-children-root {
    padding: 0 0 0 var(--spacing-space-28);
  }

  .moon-tree-children {
    position: absolute;
    left: calc(100% + var(--scale-md-gap));
    top: 0;
    height: auto;
    min-width: 100%;
    background-color: var(--semantic-background-primary);
    box-shadow: var(--effect-shadow-500-layer-1-x)
        var(--effect-shadow-500-layer-1-y) var(--effect-shadow-500-layer-1-blur)
        var(--effect-shadow-500-layer-1-spread)
        var(--effect-shadow-500-layer-1-color),
      var(--effect-shadow-500-layer-2-x) var(--effect-shadow-500-layer-2-y)
        var(--effect-shadow-500-layer-2-blur)
        var(--effect-shadow-500-layer-2-spread)
        var(--effect-shadow-500-layer-2-color);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease;
    border-radius: 0 0 var(--radius-4) var(--radius-4);
    overflow: unset;
    .moon-tree-item {
      > .moon-tree-children {
        left: 100%;
      }
    }
  }
}
.moon-tree-item {
  &:focus {
    > .moon-tree-link {
      box-shadow: var(--effect-focus-layer-1-x) var(--effect-focus-layer-1-y)
          var(--effect-focus-layer-1-blur) var(--effect-focus-layer-1-spread)
          var(--semantic-background-tertiary),
        var(--effect-focus-layer-2-x) var(--effect-focus-layer-2-y)
          var(--effect-focus-layer-2-blur) var(--effect-focus-layer-2-spread)
          var(--semantic-background-brand-subtle);
    }
  }
}
.moon-tree-list-minified {
  .moon-tree-item {
    .moon-tree-label {
      opacity: 0;
      pointer-events: none;
      display: none;
    }
    .moon-tree-end-icon {
      opacity: 0;
      pointer-events: none;
      display: none;
    }
  }
}
