@use "sass:map";
@use "variables";

.moon-form-hint {
  font: var(--font-weight-medium) var(--style-text-sm-font-size) / var(--style-text-sm-line-height) var(--font-default);
  color: var(--color-text-secondary);
}

.moon-form-group-error {
  :where(.moon-form-hint) {
    color: var(--color-text-negative);
  }

  :where(input, textarea, select) {
    box-shadow: inset 0 0 0 var(--spacing-space-2) var(--color-border-negative);

    &:hover,
    &:focus {
      box-shadow: inset 0 0 0 var(--spacing-space-2) var(--color-border-negative);
    }
  }
}

.moon-form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--spacing-space-8);
  opacity: 1;

  :where(label) {
    font: var(--font-weight-medium) var(--style-text-md-font-size) / var(--style-text-md-line-height)
      var(--font-default);
    color: var(--color-text-primary);
  }

  :where(.required) {
    color: var(--color-text-negative);
  }

  &:has(:disabled) label,
  &:has(:disabled) .moon-form-hint {
    opacity: var(--style-opacity-disabled);
  }
}

.moon-backdrop {
  display: grid;
  align-self: stretch;
  justify-self: stretch;
  color: transparent;
  grid-column-start: 1;
  grid-row-start: 1;
  z-index: -1;

  button {
    cursor: pointer;
  }
}

@function get-size($size, $property) {
  $size-map: (
    "5xs": (
      "height": 50,
      "width": 50,
      "padding": 200,
      "gap": 100,
      "icon-size": 200,
      "font": "2xs"
    ),
    "4xs": (
      "height": 100,
      "width": 100,
      "padding": 200,
      "gap": 100,
      "icon-size": 200,
      "font": "2xs"
    ),
    "3xs": (
      "height": 200,
      "width": 200,
      "padding": 200,
      "gap": 100,
      "icon-size": 200,
      "font": "2xs"
    ),
    "2xs": (
      "height": 400,
      "width": 400,
      "padding": 200,
      "gap": 100,
      "icon-size": 200,
      "font": "2xs"
    ),
    "xs": (
      "height": 600,
      "width": 600,
      "padding": 300,
      "gap": 200,
      "icon-size": 300,
      "font": "sm"
    ),
    "sm": (
      "height": 700,
      "width": 700,
      "padding": 400,
      "gap": 300,
      "icon-size": 400,
      "font": "md"
    ),
    "md": (
      "height": 800,
      "width": 800,
      "padding": 500,
      "gap": 400,
      "icon-size": 500,
      "font": "md"
    ),
    "lg": (
      "height": 900,
      "width": 900,
      "padding": 600,
      "gap": 400,
      "icon-size": 500,
      "font": "md"
    ),
    "xl": (
      "height": 1000,
      "width": 1000,
      "padding": 700,
      "gap": 600,
      "icon-size": 500,
      "font": "lg"
    ),
    "2xl": (
      "height": 1100,
      "width": 1100,
      "padding": 700,
      "gap": 600,
      "icon-size": 500,
      "font": "lg"
    )
  );

  @if map.has-key($size-map, $size) and map.has-key(map.get($size-map, $size), $property) {
    @return map.get($size-map, $size, $property);
  } @else {
    @error "Size '#{$size}' or property '#{$property}' not found in size-map";
  }
}
