$accordion-sizes: ("sm", "md", "lg", "xl");
$accordion-variants: ("fill", "ghost", "outline");
$alert-variants: ("fill", "outline", "soft");
$authenticator-sizes: ("sm", "md", "lg", "xl");
$authenticator-variants: ("fill", "outline");
$avatar-sizes: ("xs", "sm", "md", "lg", "xl", "2xl");
$avatar-variants: ("fill", "soft");
$badge-variants: ("fill", "outline", "soft");
$button-sizes: ("xs", "sm", "md", "lg", "xl");
$button-variants: ("fill", "ghost", "outline", "soft");
$chip-sizes: ("sm", "md");
$chip-variants: ("fill", "outline", "soft");
$circular-progress-sizes: ("xs", "sm", "md", "lg", "xl", "2xl");
$icon-button-sizes: ("xs", "sm", "md", "lg", "xl");
$icon-button-variants: ("fill", "ghost", "outline", "soft");
$input-sizes: ("sm", "md", "lg", "xl");
$input-variants: ("fill", "outline");
$linear-progress-sizes: ("3xs", "2xs");
$list-sizes: ("sm", "md", "lg");
$loader-sizes: ("2xs", "xs", "sm", "md", "lg");
$menu-sizes: ("sm", "md", "lg");
$segmented-control-sizes: ("sm", "md", "lg");
$select-sizes: ("sm", "md", "lg", "xl");
$select-variants: ("fill", "outline");
$snackbar-variants: ("fill", "soft");
$switch-sizes: ("2xs", "xs", "sm");
$tab-list-sizes: ("sm", "md");
$table-sizes: ("sm", "md", "lg", "xl");
$tag-sizes: ("2xs", "xs");
$tag-variants: ("fill", "ghost", "outline", "soft");
$textarea-sizes: ("sm", "md", "lg", "xl");
$textarea-variants: ("fill", "outline");
$contexts: ("brand", "neutral", "positive", "caution", "negative", "info");
