$shadow-100:
  var(--style-shadow-100-layer-1-x) var(--style-shadow-100-layer-1-y) var(--style-shadow-100-layer-1-blur)
    var(--style-shadow-100-layer-1-spread) var(--style-shadow-100-layer-1-color),
  var(--style-shadow-100-layer-2-x) var(--style-shadow-100-layer-2-y) var(--style-shadow-100-layer-2-blur)
    var(--style-shadow-100-layer-2-spread) var(--style-shadow-100-layer-2-color);
$shadow-200:
  var(--style-shadow-200-layer-1-x) var(--style-shadow-200-layer-1-y) var(--style-shadow-200-layer-1-blur)
    var(--style-shadow-200-layer-1-spread) var(--style-shadow-200-layer-1-color),
  var(--style-shadow-200-layer-2-x) var(--style-shadow-200-layer-2-y) var(--style-shadow-200-layer-2-blur)
    var(--style-shadow-200-layer-2-spread) var(--style-shadow-200-layer-2-color);
$shadow-300:
  var(--style-shadow-300-layer-1-x) var(--style-shadow-300-layer-1-y) var(--style-shadow-300-layer-1-blur)
    var(--style-shadow-300-layer-1-spread) var(--style-shadow-300-layer-1-color),
  var(--style-shadow-300-layer-2-x) var(--style-shadow-300-layer-2-y) var(--style-shadow-300-layer-2-blur)
    var(--style-shadow-300-layer-2-spread) var(--style-shadow-300-layer-2-color);
$shadow-400:
  var(--style-shadow-400-layer-1-x) var(--style-shadow-400-layer-1-y) var(--style-shadow-400-layer-1-blur)
    var(--style-shadow-400-layer-1-spread) var(--style-shadow-400-layer-1-color),
  var(--style-shadow-400-layer-2-x) var(--style-shadow-400-layer-2-y) var(--style-shadow-400-layer-2-blur)
    var(--style-shadow-400-layer-2-spread) var(--style-shadow-400-layer-2-color);
$shadow-500:
  var(--style-shadow-500-layer-1-x) var(--style-shadow-500-layer-1-y) var(--style-shadow-500-layer-1-blur)
    var(--style-shadow-500-layer-1-spread) var(--style-shadow-500-layer-1-color),
  var(--style-shadow-500-layer-2-x) var(--style-shadow-500-layer-2-y) var(--style-shadow-500-layer-2-blur)
    var(--style-shadow-500-layer-2-spread) var(--style-shadow-500-layer-2-color);
$shadow-600:
  var(--style-shadow-600-layer-1-x) var(--style-shadow-600-layer-1-y) var(--style-shadow-600-layer-1-blur)
    var(--style-shadow-600-layer-1-spread) var(--style-shadow-600-layer-1-color),
  var(--style-shadow-600-layer-2-x) var(--style-shadow-600-layer-2-y) var(--style-shadow-600-layer-2-blur)
    var(--style-shadow-600-layer-2-spread) var(--style-shadow-600-layer-2-color);
