@use "variables";
@use "iconButton";

.moon-dialog {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: var(--dialog-max-width);
  gap: var(--dialog-gap);
  padding: var(--dialog-padding);
  border-radius: var(--dialog-radius);
  color: var(--semantic-text-primary);
  background-color: var(--dialog-background);
  box-shadow:
    inset 0 0 0 var(--dialog-stroke) var(--dialog-border),
    variables.$shadow-300;

  :where(.moon-dialog-title) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--dialog-gap);
    font: variables.$text-heading-200;
  }

  :where(.moon-dialog-close) {
    @extend .moon-icon-button;
    @extend .moon-icon-button-sm;
    @extend .moon-icon-button-ghost;
  }
}
