@use "sass:map";
@use "variables";
@use "variants";

@function generate-size($size) {
  @return (
    "track-radius": var(--utility-segmented-control-radius-track-#{$size}),
    "track-padding": var(--segmented-control-track-#{$size}-padding),
    "track-gap": var(--segmented-control-track-#{$size}-gap),
    "height": var(--scale-#{$size}-height),
    "width": var(--scale-#{$size}-width),
    "padding": 0 var(--scale-#{$size}-padding),
    "gap": var(--scale-#{$size}-gap),
    "radius": var(--utility-segmented-control-radius-segment-#{$size}),
    "font": var(--scale-#{$size}-text-weight) var(--scale-#{$size}-text-size) / var(--scale-#{$size}-text-height)
      var(--scale-#{$size}-text-font),
    "icon-size": var(--scale-#{$size}-icon-size)
  );
}
$sizes: ();
@each $size in variants.$segmented-control-sizes {
  $sizes: map.set($sizes, $size, generate-size($size));
}

.moon-segmented-control {
  display: flex;
  width: 100%;
  justify-content: stretch;
  border-radius: map.get($sizes, "md", "track-radius");
  background-color: var(--segmented-control-track-background);
  padding: map.get($sizes, "md", "track-padding");
  gap: map.get($sizes, "md", "track-gap");
  box-shadow: inset 0 0 0 var(--segmented-control-track-stroke) var(--segmented-control-track-border);

  :where(.moon-segment) {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: inline-flex;
    height: map.get($sizes, "md", "height");
    min-width: map.get($sizes, "md", "width");
    cursor: pointer;
    user-select: none;
    appearance: none;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--segmented-control-segment-unselected-text);
    background-color: var(--segmented-control-segment-unselected-background);
    padding: map.get($sizes, "md", "padding");
    gap: map.get($sizes, "md", "gap");
    border-radius: map.get($sizes, "md", "radius");
    font: map.get($sizes, "md", "font");
    box-shadow: inset 0 0 0 var(--segmented-control-segment-unselected-stroke)
      var(--segmented-control-segment-unselected-border);
    transition:
      background-color 150ms ease-in-out,
      color 150ms ease-in-out,
      box-shadow 150ms ease-in-out;

    :where(svg) {
      width: map.get($sizes, "md", "icon-size");
      height: map.get($sizes, "md", "icon-size");
      color: var(--segmented-control-segment-unselected-icon);
      flex-shrink: 0;
    }

    &.moon-segment-active {
      background-color: var(--segmented-control-segment-selected-background);
      color: var(--segmented-control-segment-selected-text);
      box-shadow: inset 0 0 0 var(--segmented-control-segment-selected-stroke)
        var(--segmented-control-segment-selected-border);

      :where(svg) {
        color: var(--segmented-control-segment-selected-icon);
      }
    }
    &[disabled] {
      cursor: not-allowed;
      opacity: var(--effect-opacity-disabled);
    }

    &::after {
      content: "";
      position: absolute;
      display: block;
      inset: 0;
      transition: background-color 150ms ease-in-out;
      pointer-events: none;
      background-color: var(--semantic-background-transparent);
    }

    &:not([disabled]):hover::after {
      background-color: var(--semantic-background-hover);
    }
  }
  @each $size, $prop in $sizes {
    @if $size != "md" {
      &.moon-segmented-control-#{$size} {
        border-radius: map.get($prop, "track-radius");
        padding: map.get($prop, "track-padding");
        gap: map.get($prop, "track-gap");

        :where(.moon-segment) {
          height: map.get($prop, "height");
          min-width: map.get($prop, "width");
          padding: map.get($prop, "padding");
          gap: map.get($prop, "gap");
          border-radius: map.get($prop, "radius");
          font: map.get($prop, "font");

          :where(svg) {
            width: map.get($prop, "icon-size");
            height: map.get($prop, "icon-size");
          }
        }
      }
    }
  }
}
