$accordion-sizes: ("sm", "md", "lg", "xl");
$alert-variants: ("info", "negative", "neutral", "positive");
$authenticator-sizes: ("sm", "md", "lg", "xl");
$avatar-sizes: ("xs", "sm", "md", "lg", "xl", "2xl");
$avatar-variants: ("fill", "outline", "soft");
$button-sizes: ("xs", "sm", "md", "lg", "xl");
$button-variants: ("fill", "ghost", "outline", "soft");
$chip-sizes: ("sm", "md");
$chip-variants: ("fill", "outline");
$circular-progress-sizes: ("2xs", "xs", "sm", "md", "lg", "xl", "2xl");
$icon-button-sizes: ("xs", "sm", "md", "lg", "xl");
$icon-button-variants: ("fill", "ghost", "outline", "soft");
$input-sizes: ("sm", "md", "lg", "xl");
$linear-progress-sizes: ("3xs", "2xs");
$list-sizes: ("sm", "md", "lg", "xl", "2xl");
$loader-sizes: ("2xs", "xs", "sm", "md", "lg");
$menu-sizes: ("sm", "md", "lg", "xl", "2xl");
$segmented-control-sizes: ("sm", "md");
$select-sizes: ("sm", "md", "lg", "xl");
$snackbar-variants: ("caution", "info", "neutral", "positive");
$switch-sizes: ("2xs", "xs", "sm");
$tab-list-sizes: ("sm", "md");
$table-sizes: ("sm", "md", "lg", "xl");
$tag-sizes: ("2xs", "xs");
$tag-variants: ("fill", "outline");
$textarea-sizes: ("sm", "md", "lg", "xl");
