@use "sass:map";
@use "variables";
@use "variants";

@function generate-size($size) {
  @return (
    "height": var(--scale-#{$size}-height),
    "width": var(--scale-#{$size}-width),
    "radius": var(--utility-avatar-radius-#{$size}),
    "icon-size": var(--scale-#{$size}-icon-size),
    "font": var(--scale-#{$size}-text-weight) var(--scale-#{$size}-text-size) / var(--scale-#{$size}-text-height)
      var(--scale-#{$size}-text-font)
  );
}
$sizes: ();
@each $size in variants.$avatar-sizes {
  $sizes: map.set($sizes, $size, generate-size($size));
}
@function generate-variant($variant) {
  @return (
    "background": var(--avatar-#{$variant}-background),
    "border": var(--avatar-#{$variant}-stroke),
    "border-color": var(--avatar-#{$variant}-border),
    "color": var(--avatar-#{$variant}-text),
    "icon": var(--avatar-#{$variant}-icon)
  );
}
$variants: ();
@each $variant in variants.$avatar-variants {
  $variants: map.set($variants, $variant, generate-variant($variant));
}

.moon-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: map.get($variants, "soft", "background");
  border-width: map.get($variants, "soft", "border");
  border-color: map.get($variants, "soft", "border-color");
  color: map.get($variants, "soft", "color");
  font: map.get($sizes, "md", "font");
  width: map.get($sizes, "md", "width");
  height: map.get($sizes, "md", "height");
  border-radius: map.get($sizes, "md", "radius");

  :where(p, span) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  :where(svg) {
    color: map.get($variants, "soft", "icon");
    width: map.get($sizes, "md", "icon-size");
    height: map.get($sizes, "md", "icon-size");
  }

  &:not(:has(svg, img)) {
    padding: map.get($sizes, "md", "padding");
  }

  @each $size, $prop in $sizes {
    @if $size != "md" {
      &.moon-avatar-#{$size} {
        font: map.get($prop, "font");
        width: map.get($prop, "width");
        height: map.get($prop, "height");
        border-radius: map.get($prop, "radius");

        :where(svg) {
          width: map.get($prop, "icon-size");
          height: map.get($prop, "icon-size");
        }

        &:not(:has(svg, img)) {
          padding: map.get($prop, "padding");
        }
      }
    }
  }

  @each $variant, $prop in $variants {
    @if $variant != "soft" {
      &.moon-avatar-#{$variant} {
        background-color: var(--avatar-#{$variant}-background);
        border-width: var(--avatar-#{$variant}-stroke);
        color: var(--avatar-#{$variant}-text);
        :where(svg) {
          color: var(--avatar-#{$variant}-icon);
        }
      }
    }
  }
}
