@use "variables";

.moon-badge {
  width: fit-content;
  display: inline-block;
  min-width: var(--badge-size-dot);
  min-height: var(--badge-size-dot);
  padding: 0 var(--spacing-space-4);
  border-radius: var(--radius-full);
  background-color: var(--badge-background);
  color: var(--badge-text);
  box-shadow: inset 0 0 0 var(--badge-stroke) var(--badge-border);
  font: variables.$text-body-200;
}

.moon-badge-wrapper {
  position: relative;

  :where(.moon-badge) {
    position: absolute;
    bottom: calc(100% - var(--spacing-space-2));
    inset-inline-start: calc(100% - var(--spacing-space-2));
  }
}
