@use "variables";
@use "iconButton";

.moon-bottom-sheet {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--bottom-sheet-gap);
  padding: var(--bottom-sheet-padding);
  border-top-left-radius: var(--bottom-sheet-radius);
  border-top-right-radius: var(--bottom-sheet-radius);
  color: var(--semantic-text-primary);
  background-color: var(--bottom-sheet-background);
  box-shadow:
    inset 0 0 0 var(--bottom-sheet-stroke) var(--bottom-sheet-border),
    variables.$shadow-300;

  :where(.moon-bottom-sheet-title) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--bottom-sheet-gap);
    font: variables.$text-heading-200;
  }

  :where(.moon-bottom-sheet-close) {
    @extend .moon-icon-button;
    @extend .moon-icon-button-sm;
    @extend .moon-icon-button-ghost;
  }

  :where(.moon-bottom-sheet-handle) {
    position: absolute;
    top: calc((var(--scale-md-gap) + var(--bottom-sheet-handle-height)) * -1);
    left: 50%;
    transform: translateX(-50%);
    width: var(--bottom-sheet-handle-width);
    height: var(--bottom-sheet-handle-height);
    border-radius: var(--radius-full);
    background-color: var(--semantic-border-primary);
  }
}
