@use "sass:map";
@use "variables";

$sizes: (
  xs: (
    height: var(--scale-xs-height),
    padding: var(--scale-xs-padding),
    gap: var(--scale-xs-gap),
    radius: var(--utility-button-radius-xs),
    font: variables.$scale-xs-text,
    icon-size: var(--scale-xs-icon-size)
  ),
  sm: (
    height: var(--scale-sm-height),
    padding: var(--scale-sm-padding),
    gap: var(--scale-sm-gap),
    radius: var(--utility-button-radius-sm),
    font: variables.$scale-sm-text,
    icon-size: var(--scale-sm-icon-size)
  ),
  md: (
    height: var(--scale-md-height),
    padding: var(--scale-md-padding),
    gap: var(--scale-md-gap),
    radius: var(--utility-button-radius-md),
    font: variables.$scale-md-text,
    icon-size: var(--scale-md-icon-size)
  ),
  lg: (
    height: var(--scale-lg-height),
    padding: var(--scale-lg-padding),
    gap: var(--scale-lg-gap),
    radius: var(--utility-button-radius-lg),
    font: variables.$scale-lg-text,
    icon-size: var(--scale-lg-icon-size)
  ),
  xl: (
    height: var(--scale-xl-height),
    padding: var(--scale-xl-padding),
    gap: var(--scale-xl-gap),
    radius: var(--utility-button-radius-xl),
    font: variables.$scale-xl-text,
    icon-size: var(--scale-xl-icon-size)
  )
);
$variants: (
  fill: (
    color: var(--button-fill-text),
    background-color: var(--button-fill-background),
    icon-color: var(--button-fill-icon),
    box-shadow: inset 0 0 0 var(--button-fill-stroke) var(--button-fill-border)
  ),
  soft: (
    color: var(--button-soft-text),
    background-color: var(--button-soft-background),
    icon-color: var(--button-soft-icon),
    box-shadow: inset 0 0 0 var(--button-soft-stroke) var(--button-soft-border)
  ),
  outline: (
    color: var(--button-outline-text),
    background-color: var(--button-outline-background),
    icon-color: var(--button-outline-icon),
    box-shadow: inset 0 0 0 var(--button-outline-stroke) var(--button-outline-border)
  ),
  ghost: (
    color: var(--button-ghost-text),
    background-color: var(--button-ghost-background),
    icon-color: var(--button-ghost-icon),
    box-shadow: inset 0 0 0 var(--button-ghost-stroke) var(--button-ghost-border)
  )
);

.moon-button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  transition:
    opacity 150ms ease-in-out,
    transform 150ms ease-in-out;
  height: map.get($sizes, "md", "height");
  min-width: map.get($sizes, "md", "height");
  padding: 0 map.get($sizes, "md", "padding");
  gap: map.get($sizes, "md", "gap");
  background-color: map.get($variants, "fill", "background-color");
  border-radius: map.get($sizes, "md", "radius");
  color: map.get($variants, "fill", "color");
  font: map.get($sizes, "md", "font");

  :where(svg) {
    color: map.get($variants, "fill", "icon-color");
    width: map.get($sizes, "md", "icon-size");
    height: map.get($sizes, "md", "icon-size");
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    inset: 0;
    transition: background-color 150ms ease-in-out;
    pointer-events: none;
    background-color: var(--semantic-background-transparent);
  }

  &:disabled,
  &[aria-disabled="true"] {
    cursor: not-allowed;
    opacity: var(--effect-opacity-disabled);
  }

  &:active {
    transform: scale(0.95);
  }

  &:not(:disabled):not([aria-disabled="true"]):hover::after {
    background-color: var(--semantic-background-hover);
  }

  @each $size, $prop in $sizes {
    @if $size != "md" {
      &.moon-button-#{$size} {
        height: map.get($prop, "height");
        min-width: map.get($prop, "width");
        padding: 0 map.get($prop, "padding");
        gap: map.get($prop, "gap");
        border-radius: map.get($prop, "radius");
        font: map.get($prop, "font");

        :where(svg) {
          width: map.get($prop, "icon-size");
          height: map.get($prop, "icon-size");
        }
      }
    }
  }

  @each $variant, $prop in $variants {
    @if $variant != "fill" {
      &.moon-button-#{$variant} {
        color: map.get($prop, "color");
        background-color: map.get($prop, "background-color");
        box-shadow: map.get($prop, "box-shadow");

        :where(svg) {
          color: map.get($prop, "icon-color");
        }
      }
    }
  }
}
