@use "variables";
@use "iconButton";

.moon-drawer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: var(--drawer-max-width);
  gap: var(--drawer-gap);
  padding: var(--drawer-padding);
  border-radius: var(--drawer-radius);
  color: var(--semantic-text-primary);
  background-color: var(--drawer-background);
  box-shadow:
    inset 0 0 0 var(--drawer-stroke) var(--drawer-border),
    variables.$shadow-300;

  :where(.moon-drawer-title) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--drawer-gap);
    font: variables.$text-heading-200;
  }

  :where(.moon-drawer-close) {
    @extend .moon-icon-button;
    @extend .moon-icon-button-sm;
    @extend .moon-icon-button-ghost;
  }
}
