@use "sass:map";
@use "variables";
@use "alert";
@use "button";

$modes: (
  "positive": (
    color: var(--snackbar-positive-text),
    background-color: var(--snackbar-positive-background),
    box-shadow: inset 0 0 0 var(--snackbar-positive-stroke) var(--snackbar-positive-border),
    icon-color: var(--snackbar-positive-icon),
    max-width: var(--snackbar-positive-max-width)
  ),
  "negative": (
    color: var(--snackbar-negative-text),
    background-color: var(--snackbar-negative-background),
    box-shadow: inset 0 0 0 var(--snackbar-negative-stroke) var(--snackbar-negative-border),
    icon-color: var(--snackbar-negative-icon),
    max-width: var(--snackbar-negative-max-width)
  ),
  "neutral": (
    color: var(--snackbar-neutral-text),
    background-color: var(--snackbar-neutral-background),
    box-shadow: inset 0 0 0 var(--snackbar-neutral-stroke) var(--snackbar-neutral-border),
    icon-color: var(--snackbar-neutral-icon),
    max-width: var(--snackbar-neutral-max-width)
  ),
  "caution": (
    color: var(--snackbar-caution-text),
    background-color: var(--snackbar-caution-background),
    box-shadow: inset 0 0 0 var(--snackbar-caution-stroke) var(--snackbar-caution-border),
    icon-color: var(--snackbar-caution-icon),
    max-width: var(--snackbar-caution-max-width)
  ),
  "info": (
    color: var(--snackbar-info-text),
    background-color: var(--snackbar-info-background),
    box-shadow: inset 0 0 0 var(--snackbar-info-stroke) var(--snackbar-info-border),
    icon-color: var(--snackbar-info-icon),
    max-width: var(--snackbar-info-max-width)
  )
);

.moon-snackbar {
  @extend .moon-alert;

  max-width: map.get($modes, "neutral", "max-width");
  display: grid;
  grid-template-columns: auto minmax(auto, 1fr);
  grid-auto-flow: column;
  justify-content: start;
  justify-items: start;
  font-weight: var(--text-font-weight-medium);
  box-shadow: variables.$shadow-500, map.get($modes, "neutral", "box-shadow");

  :where(.moon-snackbar-action) {
    @extend .moon-button;
    @extend .moon-button-sm;
    @extend .moon-button-ghost;

    justify-self: end;
    color: map.get($modes, "neutral", "color");

    :where(svg) {
      color: map.get($modes, "neutral", "icon-color");
    }
  }

  @each $mode, $prop in $modes {
    @if $mode != "neutral" {
      &.moon-snackbar-#{$mode} {
        max-width: map.get($prop, "max-width");
        color: map.get($prop, "color");
        background-color: map.get($prop, "background-color");
        box-shadow: variables.$shadow-500, map.get($prop, "box-shadow");

        :where(svg) {
          color: map.get($prop, "icon-color");
        }

        :where(.moon-snackbar-action) {
          color: map.get($prop, "color");

          :where(svg) {
            color: map.get($prop, "icon-color");
          }
        }
      }
    }
  }
}
