@use "sass:map";
@use "variables";
@use "variants";

@function generate-size($size) {
  @return ("height": var(--scale-#{$size}-height), "width": calc(var(--scale-#{$size}-width) * 2));
}
$sizes: ();
@each $size in variants.$switch-sizes {
  $sizes: map.set($sizes, $size, generate-size($size));
}

.moon-switch {
  height: map.get($sizes, "sm", "height");
  width: map.get($sizes, "sm", "width");
  cursor: pointer;
  appearance: none;
  border-radius: var(--radius-full);
  border-width: var(--spacing-space-1);
  border-color: var(--switch-unselected-border);
  background-color: currentcolor;
  color: var(--switch-unselected-icon);
  transition:
    color 150ms ease-in-out,
    box-shadow 150ms ease-in-out,
    border-color 150ms ease-in-out;
  box-shadow:
    calc(map.get($sizes, "sm", "height") * -1) 0 0 var(--spacing-space-1) var(--switch-unselected-background) inset,
    0 0 0 var(--spacing-space-1) var(--switch-unselected-background) inset,
    0 0;

  &:checked {
    background-image: none;
    color: var(--switch-selected-icon);
    border-color: var(--switch-selected-background);
    box-shadow:
      map.get($sizes, "sm", "height") 0 0 var(--spacing-space-1) var(--switch-selected-background) inset,
      0 0 0 var(--spacing-space-1) var(--switch-selected-background) inset,
      0 0;
  }

  &:disabled {
    opacity: var(--effect-opacity-60);
    cursor: not-allowed;
  }

  @each $size, $prop in $sizes {
    @if $size != "sm" {
      &.moon-switch-#{$size} {
        height: map.get($prop, "height");
        width: map.get($prop, "width");
        box-shadow:
          calc(map.get($prop, "height") * -1) 0 0 var(--spacing-space-1) var(--switch-unselected-background) inset,
          0 0 0 var(--spacing-space-1) var(--switch-unselected-background) inset,
          0 0;

        &:checked {
          box-shadow:
            map.get($prop, "height") 0 0 var(--spacing-space-1) var(--switch-selected-background) inset,
            0 0 0 var(--spacing-space-1) var(--switch-selected-background) inset,
            0 0;
        }
      }
    }
  }

  &:dir(rtl) {
    box-shadow:
      map.get($sizes, "sm", "height") 0 0 var(--spacing-space-1) var(--switch-unselected-background) inset,
      0 0 0 var(--spacing-space-1) var(--switch-unselected-background) inset,
      0 0;

    &:checked {
      box-shadow:
        calc(map.get($sizes, "sm", "height") * -1) 0 0 var(--spacing-space-1) var(--switch-selected-background) inset,
        0 0 0 var(--spacing-space-1) var(--switch-selected-background) inset,
        0 0;
    }

    @each $size, $prop in $sizes {
      @if $size != "sm" {
        &.moon-switch-#{$size} {
          box-shadow:
            map.get($prop, "height") 0 0 var(--spacing-space-1) var(--switch-unselected-background) inset,
            0 0 0 var(--spacing-space-1) var(--switch-unselected-background) inset,
            0 0;

          &:checked {
            box-shadow:
              calc(map.get($prop, "height") * -1) 0 0 var(--spacing-space-1) var(--switch-selected-background) inset,
              0 0 0 var(--spacing-space-1) var(--switch-selected-background) inset,
              0 0;
          }
        }
      }
    }
  }
}
