@use "sass:map";
@use "variables";

$sizes: (
  sm: (
    padding: var(--scale-sm-padding),
    radius: var(--scale-sm-radius),
    font: variables.$scale-sm-text
  ),
  md: (
    padding: var(--scale-md-padding),
    radius: var(--scale-md-radius),
    font: variables.$scale-md-text
  ),
  lg: (
    padding: var(--scale-lg-padding),
    radius: var(--scale-lg-radius),
    font: variables.$scale-lg-text
  ),
  xl: (
    padding: var(--scale-xl-padding),
    radius: var(--scale-xl-radius),
    font: variables.$scale-xl-text
  )
);

.moon-table {
  position: relative;
  overflow: hidden;
  display: table;
  width: 100%;
  border-radius: map.get($sizes, "md", "radius");
  color: var(--semantic-text-primary);
  background-color: var(--semantic-background-secondary);
  font: map.get($sizes, "md", "font");
  font-weight: var(--font-weight-regular);
  box-shadow: 0 0 0 var(--dimension-border-default) var(--semantic-border-secondary);

  :where(thead),
  &:not(:has(thead)) tr:first-child {
    white-space: nowrap;
    background-color: var(--semantic-background-tertiary);
  }

  :where(thead tr, tbody tr:not(:last-child), tbody tr:first-child:last-child) td,
  :where(thead tr, tbody tr:not(:last-child), tbody tr:first-child:last-child) th,
  &:not(:has(thead, tbody)) tr:not(:first-child, :last-child) td,
  &:not(:has(thead, tbody)) tr:not(:first-child, :last-child) th {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: var(--dimension-border-default);
      background-color: var(--semantic-border-secondary);
    }
  }

  :where(th) {
    font-weight: var(--font-weight-medium);
  }

  :where(th, td) {
    position: relative;
    text-align: start;
    vertical-align: middle;
    padding: map.get($sizes, "md", "padding");

    &:not(:last-child)::after {
      content: "";
      position: absolute;
      inset-inline-end: 0;
      inset-block: 0;
      width: var(--dimension-border-default);
      background-color: var(--semantic-border-secondary);
    }
  }

  @each $size, $prop in $sizes {
    @if $size != "md" {
      &.moon-table-#{$size} {
        border-radius: map.get($prop, "radius");
        font: map.get($prop, "font");

        :where(th, td) {
          padding: map.get($prop, "padding");
        }
      }
    }
  }
}
