@use "variables";

.moon-tag {
  display: inline-flex;
  align-items: center;
  height: var(--scale-xs-height);
  padding: 0 var(--scale-xs-padding);
  border-radius: var(--utility-tag-radius-xs);
  gap: var(--scale-xs-gap);
  font: variables.$scale-xs-text;
  box-shadow: inset 0 0 0 var(--tag-outline-stroke) var(--tag-outline-border);
  background-color: var(--tag-outline-background);
  color: var(--tag-outline-text);

  :where(svg) {
    width: var(--scale-xs-icon-size);
    height: var(--scale-xs-icon-size);
    color: var(--tag-outline-icon);
  }

  &.moon-tag-2xs {
    height: var(--scale-2xs-height);
    padding: 0 var(--scale-2xs-padding);
    border-radius: var(--utility-tag-radius-2xs);
    gap: var(--scale-2xs-gap);
    font: variables.$scale-2xs-text;

    :where(svg) {
      width: var(--scale-2xs-icon-size);
      height: var(--scale-2xs-icon-size);
    }
  }

  &.moon-tag-fill {
    box-shadow: inset 0 0 0 var(--tag-fill-stroke) var(--tag-fill-border);
    background-color: var(--tag-fill-background);
    color: var(--tag-fill-text);

    :where(svg) {
      color: var(--tag-fill-icon);
    }
  }
}
